In [127]:
import csv
from operator import itemgetter
from scipy.stats import spearmanr

In [128]:
def read_res_top(dirname,top,query):
    #j5/TF_IDF_15.res
    with open(dirname) as csv_tf_idf:
        csv_reader = csv.reader(csv_tf_idf, delimiter=' ')
        model_results={}
        top_x_values=[]

        for row in csv_reader:
            ##row[3] ranking
            ##row[0] query id
            ##row[2] document id
            if ((int(row[3]) < top) and (int(row[0])==query)):
                top_x_values.append((row[2],row[3]))

                
        return top_x_values

In [129]:
tf_idf = read_res_top('ej5/TF_IDF_15.res',10,1)
bm25 = read_res_top('ej5/BM25_16.res',10,1)
print(tf_idf)
print(bm25)

[('d154', '0'), ('d132', '1'), ('d6', '2'), ('d82', '3'), ('d163', '4'), ('d79', '5'), ('d151', '6'), ('d53', '7'), ('d135', '8'), ('d50', '9')]
[('d129', '0'), ('d5', '1'), ('d103', '2'), ('d79', '3'), ('d152', '4'), ('d102', '5'), ('d144', '6'), ('d162', '7'), ('d40', '8'), ('d132', '9')]

In [134]:
def spearman_corr(model1,model2):
    model1_extend=[]
    model2_extend=[]
    model1_extend.extend(model1)
    model2_extend.extend(model2)
    count_model1=0
    count_model2=0
    for rank in model1:       
        if rank[0] not in model2:
            model2_extend.append((rank[0],str(len(model2_extend))))
    for ran in model2:
        if rank[0] not in model1:
            model1_extend.append((rank[0],str(len(model1_extend))))
    #print(model2_extend.sort(key=operator.itemgetter(0)))
    sorted_model1=sorted(model1_extend,key=itemgetter(0))
    sorted_model2=sorted(model2_extend,key=itemgetter(0))
    
#    tf_idf = read_res_top('ej5/TF_IDF_15.res',top_rank)
#    bm25 = read_res_top('ej5/BM25_16.res',top_rank)
    #print(list(list(zip(*sorted_model1))[1]))
    #print(list(list(zip(*sorted_model2))[1]))
    #print(sorted_model2)
    
    return(spearmanr(list(list(zip(*sorted_model1))[1]), list(list(zip(*sorted_model2))[1]))[0])

In [135]:
spearman_corr(tf_idf,bm25)

-0.06829882988298829

In [142]:
querys=[1,2,3,4,5]
for query in querys:
    print("QUERY",query)
    ranks =[10,25,50]
    for rank in ranks:
        
        tf_idf = read_res_top('ej5/TF_IDF_15.res',rank,query)

        bm25 = read_res_top('ej5/BM25_16.res',rank,query)

        print('\t',"top",rank,'\t',spearman_corr(tf_idf,bm25))

QUERY 1
	 top 10 	 -0.4812030075187969
	 top 25 	 0.074093637454982
	 top 50 	 0.0038643864386438635
QUERY 2
	 top 10 	 0.28421052631578947
	 top 25 	 0.23697478991596638
	 top 50 	 0.19008700870087003
QUERY 3
	 top 10 	 -0.5398496240601504
	 top 25 	 0.11135654261704682
	 top 50 	 0.13388538853885387
QUERY 4
	 top 10 	 0.26315789473684204
	 top 25 	 -0.12528211284513804
	 top 50 	 -0.20062406240624062
QUERY 5
	 top 10 	 0.3233082706766917
	 top 25 	 0.039711884753901555
	 top 50 	 -0.06829882988298829